
.message {
    padding: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

    background-color: transparent;

    > .reply {
        display: flex;
        align-items: center;
        gap: 5px;

        padding-left: 16px;
        padding-bottom: 10px;

        > icon {
            margin-top: 5px;
            margin-bottom: -3px;

            color: var(--tert);
        }

        > img {
            user-select: none;
            width: 20px;
            border-radius: 100%;
        }

        > .user {
            font-weight: bold;
            font-size: var(--text-size-user);
            user-select: none;
        }

        > .content {
            max-width: 400px;
            text-wrap-mode: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    > .container {
        position: relative;
        display: flex;

        > .pfp {
            position: absolute;

            min-width: 40px;
            user-select: none;
            > img {
                width: 40px;
                border-radius: 100%;
            }
        }

        > .column {
            margin-left: 50px;
            > .user {
                margin-top: -2px;
                margin-bottom: 1px;
                font-weight: bold;
                user-select: none;
            }
            > .content {
                white-space: pre;
                text-wrap: wrap;
                user-select: text;
            
                > .spotify-embed {
                    margin-top: 5px;
                    display: flex;
                }
            }
            > .content.emoji-only {
                padding-top: 3px;
                > p {
                    > .emoji-container {
                        > .emoji {
                            width: 50px;
                        }
                    }
                }
            }
            > .attachment-container {
                margin-top: 10px;
                display: flex;

                > img,
                > video {
                    max-width: 500px;
                    max-height: 250px;

                    border: 1px solid var(--prim);
                    border-radius: 10px;

                    cursor: pointer;
                }
                > .file {
                    display: flex;
                    padding: 10px;
                    gap: 10px;
                    align-items: center;

                    background-color: var(--back-light);
                    border: 1px solid var(--prim);
                    border-radius: 10px;

                    > icon {
                        margin: 2px;
                        > svg { width: 30px; height: 30px; }
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        > .name {
                            font-size: var(--text-size-attachment-name);
                        }

                        > div {
                            display: flex;
                            gap: 5px;

                            font-size: var(--text-size-attachment-other);
                            color: var(--tert);
                        }
                    }

                    > button {
                        margin-left: 5px;
                        padding: 5px;
                        
                        background: none;
                        border: none;
                        
                        cursor: pointer;

                        > icon > svg { width: 22px; }
                    }
                }
            }
        }
        > .column:not(:has(.content)):has(.attachment-container) {
            > .attachment-container {
                margin-top: 0;
            }
        }
    }
    
    transition: background-color .1s ease-out;
}
.message:hover {
    background-color: var(--back-lighter);
}
.message.connected {
    margin-top: -5px;

    > .container {
        > .pfp > * {
            display: none;
        }
        > .column {
            > .user {
                display: none;
            }
        }
    }
}
.message:last-child {
    margin-bottom: 0px;
}
